{% extends "layout.html" %}
{% block content %}
<div class ="col-md-10">
    <h1>Hello {{ current_user.username }}!</h1>
    <h4>Thank you for trusting us with controlling your home!</h4>
    <h4>In case of any malfunction or problem you can contact us in the following mails:</h4>
    <h5 style="color:lightskyblue;"> magorors_kollo@yahoo.com </h5>
    <h5 style="color:lightskyblue;"> robi_budai@yahoo.com </h5>




</div>
{% endblock content %}
{% block content2 %}

<div class ="center center-img">
    <img src="../static/budkol.jpeg" alt="Our logo" width="90%" height="90%" style="border-radius: 80%;">
</div> 

{% endblock content2 %}


